* {
  box-sizing: border-box;
  margin: 10;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #000;
}

.navbar {
  background-color: #0a162c;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #eee;
}

.navbar-brand {
  font-size: 28px;
  font-weight: bold;
  color: white;
}

.navbar-links {
  display: flex;
  gap: 30px;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #ccc;
}

.navbar-buttons {
  display: flex;
  gap: 10px;
}

.nav-btn {
  background-color: #ffffff;
  color: black;
  padding: 6px 14px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-btn:hover {
  background-color: #dcdcdc;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: px;
  background-color: #f7f7f7;
}

.container {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

p {
  text-align: center;
  color: #555;
}

fieldset {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

legend {
  padding: 0 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="file"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

label {
  display: block;
  margin: 8px 0;
}

textarea {
  resize: vertical;
  height: 100px;
}

.form-actions {
  text-align: center;
}

.form-actions label {
  display: inline-block;
  margin-bottom: 20px;
}

button {
  background-color: #6a5acd;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #5941c3;
}

.submit-button {
  display: inline-block;
  background-color: #6c63ff;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: bold;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #5548d8;
}
